<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-expand-sm" data-toggle="collapse">
      <div class="container-fluid navbar-expand-sm collapse navbar-collapse">
        <div class="navbar-header">
          <a class="navbar-brand aling-left">Learning Together</a>
        </div>
        <ul class="nav navbar-nav">
          <button
            data-toggle="collapse"
            class="progressier-install-buttonbtn btn-primary btn-block"
          >
            Instalar
          </button>
        </ul>
      </div>
    </nav>
  </body>
</html>
