<app-navbar></app-navbar>
<div >
<p>dificultad works!</p>
<button  class="btn btn-outline-danger form-control m-2  btn-block" data-toggle="collapse" type="button" (click)="enviar('facil')">aqui</button>
<button  class="btn btn-outline-danger form-control m-2  btn-block" data-toggle="collapse" type="button" (click)="enviar('medio')">aqui</button>
<button  class="btn btn-outline-danger form-control m-2  btn-block" data-toggle="collapse" type="button" (click)="enviar('dificil')">aqui</button>
</div>
